html {
    cursor: url("https://downloads.totallyfreecursors.com/cursor_files/heartsarrow.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/heartsarrow.gif"), auto;
}

body {
    background-image: url("https://chatter-salto-a20.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fddd31d8f-5d42-4aea-815f-510753dcd2c8%2FeyJidWNrZXQiOiJhcmVuYV9pbWFnZXMiLCJrZXkiOiIxMDU2MTMwOC9vcmlnaW5hbF82ZDJlZWU0MmNlMjc0MmI0NGFkNzQ1YzUwY2NkZjlkMi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjE4MDAsImhlaWdodCI6M.webp?table=block&id=e9993d5a-ac4f-4f9a-985d-e00c1c77a325&spaceId=676a0f1a-b35c-4a56-b0ef-d49d56d7025a&width=1280&userId=&cache=v2");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: 'JetBrains Mono', monospace;
}

p {
    color: white;
    text-shadow: 2px 2px 4px red;
    display: inline-block;
    position: fixed;
    bottom: 10%;
    right: 10%;
    font-size: 4vw;
}

@media screen and (max-width: 600px) {
    background-image: url("https://chatter-salto-a20.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F0d16460d-9212-4fb3-abef-545628c85309%2FeyJidWNrZXQiOiJhcmVuYV9pbWFnZXMiLCJrZXkiOiIxMDU2MTM1NS9vcmlnaW5hbF9mODIxNmM2ZWQzOGYzNDRiY2RjZjE3ZGJiNTViYTlmMy5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjE4MDAsI.webp?table=block&id=9e16a32f-ec38-495d-ba31-14bcaf260845&spaceId=676a0f1a-b35c-4a56-b0ef-d49d56d7025a&width=1280&userId=&cache=v2");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
