html {
    cursor: url("https://downloads.totallyfreecursors.com/cursor_files/heartsarrow.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/heartsarrow.gif"), auto;
}

body {
    background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/10384928/original_a1bc976c377f76468376464d3187c322.png?1611517967?bc=0");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: 'JetBrains Mono', monospace;
}

p {
    color: white;
    text-shadow: 2px 2px 4px red;
    display: inline-block;
    position: fixed;
    bottom: 10%;
    right: 10%;
    font-size: 4vw;
}

@media screen and (max-width: 600px) {
    background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/10657679/original_f54cc6d3372ab956af085e5173abfef6.png?1612830775?bc=0");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}